# --- Genel Gereksizler ---
.DS_Store
.vscode/
.idea/
*.log

# --- Frontend (Node/React/Vue) ---
node_modules/
dist/
build/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Backend (C# / .NET) ---
bin/
obj/
*.user
*.suo
appsettings.Development.json

# --- Backend (Python) ---
__pycache__/
*.py[cod]
venv/
env/
